# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# CertGuard private content
scripts/
*.db
*.log
logfile*

# CertGuard ephemeral content
resources/public_suffix_list.dat/*.json
resources/ct_log_list.json/*.json

# Testing
test*