# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# CertGuard private content
scripts/
log/*
*.db
*.log
logfile*
*.testing

# CertGuard ephemeral content
resources/public_suffix_list.dat/*.json
resources/ct_log_list.json/*.json

# Testing
tests/
test*

# Misc
.vscode/
*.Identifier